# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FaceFX Runtime binaries
UE4/Engine/Source/ThirdParty/FaceFxLib/FaceFx-0.9.10/*
UE4/Engine/Binaries/ThirdParty/FaceFX/*
